.homepage {
    text-align: center;
    padding: 12px;
    background-color: rgb(85, 70, 93);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textAndButtons {
    background-color: rgba(12, 3, 3, 0.56);
    width:60%;
    height:70%;
    border-radius: 40px;
}

.homeText {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.homeText h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.homeText h3 {
    font-size: 2rem;
}

.contributor {
    margin: 5px 0;
    font-size: 1.5rem;
}

.homeButtons {
    margin-top: 20px;
}

.buttonInHomeScreenGroup {
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.MuiButton-containedSecondary {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

.MuiButton-containedSecondary:hover {
    background-color: #e53935;
}

#searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#searchBox .MuiTextField-root {
    margin-right: 20px;
}

.searchResultsModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #55465d;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 3%;
    color: white;
    overflow-y: auto;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.results {
    width: 100%;
    margin-top: 20px;
}

.profileBoxHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.profilePictureHome {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.profileDetailsHome {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profileDetails h3 {
    margin: 0;
    font-size: 18px;
}

.profileDetails p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.profileBox button {
    margin-left: 20px;
}
