.homepage {
    text-align: center;
    padding: 12px;
}

.buttonInHomeScreenGroup {
    padding: 30px;
}

.loginSignUpDivision {
    align-items: center;
    text-align: center;
}

.homeText {
    color: white;
}
