.errorMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 20%;
    text-align: center;
}


.errorMenu .errorText {
    color: white;
    font-size: large;
    padding-bottom: 10%;
}

.errorMenu h2 {
    color: white;
}

.loginSignUpDivision {
    align-items: center;
    justify-content: center;
    text-align: center;
}
